{%- comment -%}AÁBCČDĎEÉĚFGHChIÍJKLMNŇOÓPQRŘSŠTŤUÚŮVWXYÝZŽ{%- endcomment -%}
<h3 class="mb-5">O Mně</h3>
<article class="card">
	<h4 class="card-header">Historie</h4>
	<div class="card-body">
		<p>
			Můj zájem o programování se projevil již v dětství, kdy jsem si hrál s Visual Basicem a následně, prostřednictvím kroužku programování, i s Pascalem.
			Ranné projekty měly různorodou obtížnost, od jednoduchých utilit, jako například snímání obrazovky v nastavitelných intervalech, až po animace a jednoduché hry.
		</p>
		<p>
			Jak postupoval čas, tak jsem se seznamoval i s dalšími jazyky a technologiemi.
			Jedním z nich bylo známé trio HTML, CSS a JavaScipt, pomocí nichž jsem si vytvářel vlastní webové stránky, které sloužily i jako můj školní projekt na předmět informatiky.
			Dále jsem se dostal k jazyku PHP, díky kterému jsem obohatil své stránky o sekci chráněnou heslem a chatovací aplikaci.
		</p>
		<p>
			Co se týče desktopových aplikací, přešel jsem již VB.NET, který jsem ale moc dlouho nevyužíval, neboť mnoho návodů bylo pro C#.
			Rozhodl jsem se tedy, že se jej naučím, a jelikož jsem už měl zkušenosti s jazyky s podobnou syntaxí, nebyl to pro mě problém.
			Mezi projekty, které těžily z tohoto jazyku, patří například IRC robot, který byl schopen s uživateli komunikovat prostřednictvím externí knihovny pro práci s AIML, nebo generátory fraktálů Mandelbrot a TwinDragon.
			Jelikož tento generátor byl velice pomalý, hledal jsem možnosti, jak jej urychlit, načež jsem poznal technologii CUDA, pomocí které byl generátor schopen realtime vykreslování.
		</p>
		<p>
			Později se mi naskytla příležitost si vyzkoušet technologie na nízké úrovni, jako je programovatelné hradlové pole od Xilinxu (Spartan-3), nebo vývojové desky od Atmelu (AVR Butterfly), což mě nakonec přivedlo k pořízení vývojové desky Arduino Mega 2560 a miniaturního počítače Rasperry Pi Zero.
		</p>
	</div>
</article>
<article class="card mt-4">
	<h4 class="card-header">Současnost</h4>
	<div class="card-body">
		<!--p>
			CDSM
		</p-->
		<!--p>
			Pionýr
		</p-->
		<!--p>
			Crypto
		</p-->
	</div>
</article>