---
---

@import 'bootstrap/_functions.scss';
@import 'bootstrap/_variables.scss';

$small-shadow-size: 4px;
$large-shadow-size: 70px;

@mixin FixedBackground()
{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@mixin NormalFixedBackground()
{
	@include FixedBackground();
	background-image: url("/assets/background/sharp.jpg");
}

@mixin BlurredFixedBackground()
{
	@include FixedBackground();
	background-image:
		url("/assets/background/reflect.png"),
		url("/assets/background/blur.jpg");
}

@mixin WidthStretch()
{
	width: 100%;
	border-radius: unset !important;
	border-left: none !important;
	border-right: none !important;
}

@mixin TopmostShadow()
{
	box-shadow: 0 0 ($small-shadow-size) RGBA(0, 0, 0, .5);
}

@mixin NavbarMargin()
{
	&:before
	{
		height: 3.5rem + map-get($spacers, 3); // 56px + spacer
		content: "";
		display:block;
	}
}

body
{
	@include NormalFixedBackground();
	
	>nav
	{
		@include TopmostShadow();
		
		.nav-link.active
		{
			color: #fff !important;
		}
	}
	
	>header
	{
		width: 100%;
		height: 100vh;
		
		@include NavbarMargin();
		
		.card
		{
			box-shadow: 0 0 ($large-shadow-size) ($large-shadow-size / 2) RGBA(0, 0, 0, .25);
			
			@include BlurredFixedBackground();
			@include WidthStretch();
		}
	}
	
	>.container
	{
		>section
		{
			@include NavbarMargin();
			
			.card
			{
				box-shadow: 0 ($large-shadow-size / 2) ($large-shadow-size) RGBA(0, 0, 0, .5);
				
				@include BlurredFixedBackground();
				
				>.card-img-top
				{
					border-bottom: 1px solid transparent;
					box-shadow: 0 (-$small-shadow-size) ($small-shadow-size) ($small-shadow-size) RGBA(0, 0, 0, .5);
				}
			}
		}
	}
	
	>footer
	{
		@include NavbarMargin();
		
		.card
		{
			@include BlurredFixedBackground();
			@include TopmostShadow();
			@include WidthStretch();
		}
	}
}
