<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/style/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/style/main.css">
		<script type="text/javascript" src="/assets/javascript/jquery.min.js" ></script>
		<script type="text/javascript" src="/assets/javascript/bootstrap.bundle.min.js" ></script>
	</head>
	<body data-spy="scroll" data-target="#navbar" data-offset="0">
		{{ content }}
	</body>
</html>